
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Space+Grotesk:wght@400;500&family=Ubuntu:wght@300;400;500&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
}

.button {
    padding: 4px 15px;
    color: #eaf9ff;
    background: linear-gradient(rgb(0, 19, 63), rgb(15 23 42)) padding-box,
        linear-gradient(to right, #00b7ff, #cb64ff) border-box;
    border-radius: 50em;
    border: 1.5px solid transparent;
    transition: ease-in-out 200ms;
}

iframe {
    margin: 5px 0 10px 0;
}